<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Tree map test page
  </h1>
</div>

<div style="text-align:left">
  Tree map unbalanced 2 level
</div>
<rs-charts-tree-map-ml [view]="view" [results]="treemap1">
</rs-charts-tree-map-ml>

<div style="text-align:left">
  Tree map balanced 1 level
</div>
<rs-charts-tree-map-ml [view]="view" [results]="treemap2">
</rs-charts-tree-map-ml>

<div style="text-align:left">
  Tree map balanced 2 level
</div>
<rs-charts-tree-map-ml [view]="view" [results]="treemap3">
</rs-charts-tree-map-ml>
